body{
    background-color: rgb(10,10,10);
}
	
h1{
  color:AntiqueWhite;
  text-align: center;
  animation-duration: 1s;
  animation-name: movement;
  animation-direction: normal;
  position: relative;
  animation-timing-function: ease-out;
}
@keyframes movement 
{
0% {left:-1200px; top:0px;}
100% {left:0px; top:0px;}
}

.disappear{
    font-size: 200%;
    color:Aquamarine;
    font-family: "Lucida Console", "Courier New", monospace;
    
}
.appear{
    font-size: 200%;
    color:rgb(255, 0, 51);
    font-family: "Lucida Console", "Courier New", monospace;
    
}
a:link{
color:green;
}
a:visited{
color:AntiqueWhite;
}
a:hover{
color:rgb(255, 0, 51);
}
button{
  background-color: rgb(102, 204, 51); /* #04AA6D*/
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 10px;
}
img{
	width: 20%;
	display: none;
}
.answer{
font-size: 200%;
    color:rgb(204, 51, 0);
    font-family: "Lucida Console", "Courier New", monospace;
 display:none;
/*visibility:hidden;*/
text-align: center;
  animation-duration: 1s;
  animation-name: movement;
  animation-direction: normal;
  position: relative;
  animation-timing-function: ease-out;
}
@keyframes movement 
{
0% {left:-1200px; top:0px;}
100% {left:0px; top:0px;}
}
